/*@MEDIA*/

/*MEDIA FOR IPHONE 12*/
@media only screen and (width: 390px) {

    /*TEMPORARY @MEDIA NAV*/
    .a-nav {
        font-size: 15px;
    }

    .a-wandi {
        font-size: 20px;
    }

    /*@MEDIA INDEX*/

    .main-text {
        font-size: 15px;
    }

    .home-grid {
        grid-template-columns: 0 300px 0;
        grid-template-rows: 250px 125px;
    }

    .icon {
        width: 60px;
        height: 60px;
        margin: 5px;
        margin-bottom: 90px;
    }

    .ul-menu {
        padding-left: 5px;
    }

    /*@MEDIA ABOUTME*/

    h1 {
        font-size: 45px;
    }

    .p-aboutme {
        font-size: 15px;
        overflow: hidden;
    }

    .img-aboutme {
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
        height: 370px;
    }

    .title-grid {
        grid-template-columns: 10px 360px 5px;
        grid-template-rows: 90px 750px 390px;
    }

    /*@MEDIA PORTFOLIO*/

    .port-grid {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 50px 275px 50px;
        grid-template-rows: 100px 530px 275px 650px 275px;

        grid-template-areas:
            "port-side title-main -"
            "port-side port2-text -"
            "port-side port2-img -"
            "port-side port1-text -"
            "port-side port1-img -"
    }

    .p-port {
        font-size: 14px;
    }

    .img-portfolio {
        height: 275px;
        width: 275px;
    }
}

/*MEDIA FOR IPHONE X*/
@media only screen and (width: 375px) and (height: 812px){
    
    /*TEMPORARY @MEDIA NAV*/
    .a-nav {
        font-size: 10px;
    }

    .a-wandi {
        font-size: 40px;
    }

    /*@MEDIA INDEX*/

    .main-text {
        font-size: 25px;
    }

    .home-grid {
        display: grid;
        grid-template-columns: 10px 355px 10px;
        grid-template-rows: 300px 125px;
    
        grid-template-areas:
            "home-side home-main -"
            "home-side home-icons -"
    }

    .icon {
        width: 130px;
        height: 130px;
        margin: 5px;
    }

    .ul-menu {
        padding-left: 5px;
    }

    /*@MEDIA ABOUTME*/

    h1 {
        font-size: 45px;
    }

    .p-aboutme {
        font-size: 15px;
        overflow: hidden;
    }

    .img-aboutme {
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
        height: 370px;
    }

    .title-grid {
        grid-template-columns: 10px 360px 5px;
        grid-template-rows: 90px 750px 390px;
    }

    /*@MEDIA PORTFOLIO*/

    .port-grid {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 50px 275px 50px;
        grid-template-rows: 100px 530px 275px 650px 275px;

        grid-template-areas:
            "port-side title-main -"
            "port-side port2-text -"
            "port-side port2-img -"
            "port-side port1-text -"
            "port-side port1-img -"
    }

    .p-port {
        font-size: 14px;
    }

    .img-portfolio {
        height: 275px;
        width: 275px;
    }
}


/*MEDIA FOR IPHONE 6/7/8 Plus*/
@media only screen and (width: 414px) {

    /*TEMPORARY @MEDIA NAV*/
    .a-nav {
        font-size: 15px;
    }

    .a-wandi {
        font-size: 20px;
    }

    /*@MEDIA INDEX*/

    .main-text {
        font-size: 15px;
    }

    .home-grid {
        grid-template-columns: 0 300px 0;
        grid-template-rows: 250px 125px;
    }

    .icon {
        width: 70px;
        height: 70px;
        margin: 5px;
    }

    .ul-menu {
        padding-left: 5px;
    }

    /*@MEDIA ABOUTME*/

    h1 {
        font-size: 45px;
    }

    .p-aboutme {
        font-size: 15px;
        overflow: hidden;
    }

    .img-aboutme {
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
        height: 370px;
    }

    .title-grid {
        grid-template-columns: 10px 399px 5px;
        grid-template-rows: 90px 750px 390px;
    }

    /*@MEDIA PORTFOLIO*/

    .port-grid {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 50px 314px 50px;
        grid-template-rows: 100px 490px 275px 580px 275px;

        grid-template-areas:
            "port-side title-main -"
            "port-side port2-text -"
            "port-side port2-img -"
            "port-side port1-text -"
            "port-side port1-img -"
    }

    .p-port {
        font-size: 14px;
    }

    .img-portfolio {
        height: 275px;
        width: 275px;
    }
}

/*MEDIA FOR IPHONE 5/SE*/
@media only screen and (width: 320px) {

    /*TEMPORARY @MEDIA NAV*/
    .a-nav {
        font-size: 10px;
    }

    .a-wandi {
        font-size: 15px;
    }

    /*@MEDIA INDEX*/

    .main-text {
        font-size: 15px;
    }

    .home-grid {
        grid-template-columns: 0 300px 0;
        grid-template-rows: 200px 125px;
    }

    .icon {
        width: 50px;
        height: 50px;
        margin: 5px;
        margin-bottom: 90px;
    }

    .ul-menu {
        padding-left: 5px;
    }

    /*@MEDIA ABOUTME*/

    h1 {
        font-size: 45px;
    }

    .p-aboutme {
        font-size: 15px;
        overflow: hidden;
    }

    .img-aboutme {
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
        height: 370px;
    }

    .title-grid {
        grid-template-columns: 10px 305px 5px;
        grid-template-rows: 90px 850px 390px;
    }

    /*@MEDIA PORTFOLIO*/

    .port-grid {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 20px 260px 30px;
        grid-template-rows: 100px 560px 275px 680px 275px;

        grid-template-areas:
            "port-side title-main -"
            "port-side port2-text -"
            "port-side port2-img -"
            "port-side port1-text -"
            "port-side port1-img -"
    }

    .p-port {
        font-size: 14px;
    }

    .img-portfolio {
        height: 260px;
        width: 260px;
    }
}

/*MEDIA FOR LAPTOP HiDPI SCREEN*/
@media only screen and (max-width: 1440px) {

    /*@MEDIA ABOUTME*/
    .title-grid {
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: 90px 430px 390px;
    }
}

@media only screen and (max-width: 1280px) {

    body {
        min-width: 1280px;
    }

    /*@MEDIA INDEX*/
    .ul-menu {
        padding-left: 5px;
    }

    /*@MEDIA ABOUTME*/
    .title-grid {
        grid-template-columns: 10px 1265px 5px;
        grid-template-rows: 90px 480px 450px;
    }
}

/*MEDIA FOR LAPTOP WITH TOUCH WASNT NECESSARY*/

/*MEDIA FOR SMALL SCREENS BELOW 800PX*/
@media only screen and (max-width: 800px) {

    /*TEMPORARY @MEDIA NAV*/

    body {
        min-width: 800px;
    }

    .a-nav {
        font-size: 12px;
    }

    /*@MEDIA INDEX*/
    .ul-menu {
        padding-left: 5px;
    }

    /*@MEDIA ABOUTME*/
    .title-grid {
        grid-template-columns: 10px 785px 5px;
        grid-template-rows: 90px 730px 450px;
    }

    /*@MEDIA PORTFOLIO*/

    .port-grid {
        display: grid;
        grid-gap: 15px;
        grid-template-columns: 50px 350px 350px 50px;
        grid-template-rows: 100px 450px 520px;

        grid-template-areas:
            "port-side title-main title-main -"
            "port-side port2-img port2-text -"
            "port-side port1-text port1-img -"
    }

    .p-port {
        font-size: 14px;
    }

    .img-portfolio {
        height: 350px;
        width: 350px;
    }
}